<%- include('../partials/head.ejs') %>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div>

            <article>
              <h2 class="book-title"><%= book.title %></h2>
              <h3 class="book-title"><%= book.author %></h3>
              <img src="<%= book.cover %>"/>
              <h3 id="<%= book.title %>" class="book-rating"></h3>
              <script> 
                bookRating = "<%= book.rating %>";
                title = "<%= book.title %>"
                myFunc(title, bookRating); 
              </script>
              <p><%= book.blurb %></p>
              <a href="/books/<%= book._id %>/edit"><button>Edit</button></a>
              <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete"/>
              </form>
              <a href="/books/"><button>Back to Shop</button></a>
            </article>
          </div> 
    </main>
</body>
</html>